<!DOCTYPE html>
<html>
<head>
	<!--Background provided by: Lali Mariera from: http://www.flickr.com/photos/visualpanic/5226814928/ https://creativecommons.org/licenses/by/2.0/-->
<meta charset="UTF-8">
<meta name="description" content="Send a cat fact text to your friends by entering their phone number. Data and Messaging Rates May Apply.">
<meta name="keywords" content="Cats,Facts,Fun,Entertainment,Humor,Text,SMS">
<meta name="author" content="Bellamy Smith">	
  <title>Cat Facter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
